<body>
<h2><b>Login</b></h2>

<form>
  <div class="imgcontainer">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2FY92G63PA5Uw6m2F9tjkGP9nYQACOSRTvg&usqp=CAU" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" >

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw">
        
    <a routerLink="/items"><button type="submit">Login</button> </a>
    
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a> Forgot password?</a> </span>
  </div>
</form>

</body>

