<div>
<h3>The table describes the technical topics by various people</h3>
<table class="table table-bordered">
    
    <thead>
    <tr>
        <th scope="col">Sl no.</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Technology</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Arnav Goswami</td>
            <td>India</td>
            <td>Machine Learning</td>
            <a routerLink="/detailsoftech" routerLinkActive="act"><td> click here for more details</td> </a>
        </tr>
    
        <tr>
            <th scope="row">2</th>
            <td>Raghav Avasthi</td>
            <td>India</td>
            <td>Web3</td>
            <a routerLink="/detailsoftech" routerLinkActive="act"><td> click here for more details</td> </a>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Varun Shukla</td>
            <td>India</td>
            <td>Blockchain</td>
            <a routerLink="/detailsoftech" routerLinkActive="act"><td> click here for more details</td> </a>
        </tr>
    </tbody>
</table>


