<br>
<h3>Arnav Goswami</h3> <br/>
<img src ="https://www.thenewsminute.com/sites/default/files/ArnabGoswami_Stylised_261020_1200x800_Facebook_RepublicTV.jpg"  class="center">

<br/>
<div class="para">
<p>
    Arnab Ranjan Goswami is an Indian Journalist, TV news presenter and Editor-in-chief of the news channel Republic TV. He is also the president of the News Broadcasting Association. He started his career in Journalism in the year 1995 and is known mainly for his aggressive journalism.

    Arnab Goswami was born on March 7, 1973, in Guwahati, Assam to Manoranjan Goswami and Suprabha Gain-Goswami. Arnab's father served the Indian Army and later on, joined Bhartiya Janata Party while his mother is an author.  

Arnab's paternal grandfather Rajani Kanta Goswami was a lawyer while his maternal grandfather  Gaurisankar Bhattacharyya was a legislator (CPI) and served as the leader of opposition in Assam for many years.
</p>
</div>