<div> <br/>
    <table class="table table-bordered">
        
        <thead>
        <tr>
            <th scope="col">Sl no.</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Technology</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Arnav Goswami</td>
                <td>India</td>
                <td>Machine Learning</td>
                <a routerLink="/details" routerLinkActive="act"><td>more details</td> </a>
            </tr>
        
            <tr>
                <th scope="row">2</th>
                <td>H R Ranganath</td>
                <td>India</td>
                <td>Web3</td>
                <a routerLink="/det2" routerLinkActive="act"><td>more details</td> </a>
            </tr>
    
        
        </tbody>
    </table>
    
    
    