<br>
<h3>HR Ranganath</h3> <br/>
<img src="https://kannada.filmibeat.com/img/2014/08/18-1408350897-h-r-ranganath-1.jpg" class="center">
<br>
<br>
<div class= "para">
<p>Hebbale Ramakrishnaiah Ranganath popularly known as H.R. Ranganath is Journalist by profession with 25 
    years of experience. He is the Founder, Chairman and Managing Director of Writemen Media Private Limited, 
    a media company that owns and operates a Kannada News Television channel - Public TV 
    Mr. H R Ranganath is a native of Mysore and he is considered to be one of the impartial journalists in Karnataka. 
    Mr. H R Ranganath, Chairman and Managing Director of Written Media Pvt. Ltd. has been a Kannada news journalist for 25 years in Karnataka. 
    On 26 Jan 2012, he founded Written Media Pvt. Ltd. and launched Public TV which is a Kannada language NEWS channel. 
    H R Ranganath in past was the editor-in-chief of a Kannada-language daily news paper, Kannada Prabha, and the editorial head of a Kannada news channel, Suvarna News.
</p>
</div>