
<!-- Products -->
<div class="container">
    <h2><b>Product  Details</b></h2>
    <div class="row">
         <div class="infoimg"> 
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Product 1">
                <div class="caption">
                    <h3>Puma</h3>
                    <h4>Sneakers</h4>
                    <h6>Rs 4999</h6>
                    <p>Back in the ‘90s, Trinomic brought a whole new angle to sneaker technology, with a focus on cushioning, flexibility, and stability. Here, we introduce the TRC Blaze: a Futro take on Trinomic, inspired by the running models of the past. TRC Blaze celebrates the power of a collective to create something stronger than an individual working alone. 
                        This rendition has been inspired by Memphis art and features a gradient upper and a graphic printed midsole. </p>
                    <br>
                    <br>
                    <p><button class="btn btn-primary" (click)="onClick()">Buy now</button></p>
                </div>
            </div>
        </div>
         <div class="infoimg">
            <div class="thumbnail"> 
                <img src="https://images.pexels.com/photos/1159670/pexels-photo-1159670.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Product 2">
                <div class="caption">
                    <h3>Woodlands</h3>
                    <h4>Boots</h4>
                    <p>Rs 3499</p>
                    <p>Back in the ‘90s, Trinomic brought a whole new angle to sneaker technology, with a focus on cushioning, flexibility, and stability. Here, we introduce the TRC Blaze: a Futro take on Trinomic, inspired by the running models of the past. TRC Blaze celebrates the power of a collective to create something stronger than an individual working alone. 
                        This rendition has been inspired by Memphis art and features a gradient upper and a graphic printed midsole. </p>
                    <br>
                    <br>
                    <p><button class="btn btn-primary" (click)="onClick()">Buy now</button></p>
                    <a routerLink="/iteminfo"> More details </a> <br/>
                    <p><button class="btn btn-primary">Buy now</button></p>
                </div>
            </div>
        </div>
        <div class="infoimg">
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/1895019/pexels-photo-1895019.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Product 2">
                <div class="caption">
                    <h3>Indian Guarage</h3>
                    <h4>Casual Shoes </h4>
                    <p>Rs 1999</p>
                    <p>Back in the ‘90s, Trinomic brought a whole new angle to sneaker technology, with a focus on cushioning, flexibility, and stability. Here, we introduce the TRC Blaze: a Futro take on Trinomic, inspired by the running models of the past. TRC Blaze celebrates the power of a collective to create something stronger than an individual working alone. 
                        This rendition has been inspired by Memphis art and features a gradient upper and a graphic printed midsole. </p>
                    <br>
                    <br>
                    <p><button class="btn btn-primary" (click)="onClick()">Buy now</button></p>
                    <a routerLink="/iteminfo"> More details </a> <br/>
                    <p><button class="btn btn-primary">Buy now</button></p>
                </div>
            </div>
        </div>
        
    </div>
    </div>
